@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: purple;
    --primary-color-white: rgb(143, 9, 143);
    --white: white;
    --heading-color: rgb(226, 100, 226); 
    --text-color: rgb(77, 76, 76);
    --font-family: 
}

body {
    font-family: "Poppins", sans-serif;
}
.img-logo img {
    width: 15%;
    border-radius: 100%;
}
.img-logo {
    text-align: center;
    width: 100%;
}
.sch-box {
    margin: auto;
    padding: 20px;
    text-align: center;
}
.sch .title {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 700;
}
.sch .text {
    font-size: 20px;
}
.note-box {
    margin: auto;
}
.guide-box {
    height: 50vh;
    overflow-y: auto;
    padding-bottom: 20px;
}
.title-guide {
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}
.step .title span {
    text-transform: uppercase;
    font-weight: 600;
    
}
.step .title {
    text-transform: capitalize;
    font-size: 13px;
}
.step .text {
    font-size: 12px;
    padding-left: 10px;
}
.button {
    margin: 20px;
}
.button-based {
    text-align: center;
    padding-top: 30px;

}
.btn {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: 500;
    text-transform: capitalize;
    outline: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
    width: 100%;
}
.btn:hover {
    background-color: var(--primary-color-white);
    color: white;
}
@media (max-width: 768px) {
    .wrapper {
        padding: 10px 20px;
    }
    .img-logo img {
        width: 25%;
        border-radius: 100%;
    }
    .note-box .row {
        display: flex;
        flex-direction: column-reverse; /* Buttons come first */
    }
    .sch .title {
        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 600;
    }
    .sch .text {
        font-size: 16px;
    }
    .button-based {
        padding-top: 0px;
    }
}
