.wrapper {
    margin-bottom: 30px;
}
.verify-box {
    margin: auto;
    border-radius: 10px;
    /* width: 50%; */

    box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
    padding: 25px 20px;
}
.verify-box .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}
.verify-box input {
    padding: 1rem;
    color: rgb(107, 106, 106);
}
.verify-box input.form-control:focus {
    border: none;
    color: rgb(107, 106, 106);
    outline: 1px solid rgb(221, 218, 218);
}
.verify-box input[type='submit'] {
    color: white;
    font-weight: 500;
}
.verify-box input::placeholder {
    color: rgb(107, 106, 106);
}
.verify-box .texts {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.verify-box a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
}
.texti {
    font-size: 14px;
}