.welcome-box {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.welcome-box .welcome-header {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}
.welcome-box p {
    font-size: 12px;
}
.intro-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}
.intro .name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
.dep {
    font-size: 14px;
    color: rgb(131, 130, 130);
}
.ann {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px 20px;
    height: 20vh;
}
.ann-body {
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

