@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow: hidden;
    height: 100vh;
}
.box1 {
    background: url('../img/banner/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.box2 {
    font-family: sans-serif, 'Poppins';
    margin-top: 80px;
    font-weight: 500;
    color: purple;
    
    padding: 10px 50px;
}
.header-text {
    text-align: center;
    font-size: 25px;
}
.error {
    color: red;
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
}
label {
    padding: 5px;
    font-size: 18px;
}
.btn {
    background-color: purple;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
}
.btn:hover {
    background: rgb(143, 9, 143);
    color: white;
}
input.form-control{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid purple;
    outline: 1px solid purple;
}
input.form-control:focus {
    border-radius: 10px;
    border: 1px solid purple;
    outline: 1px solid purple;
}
.navbar {
    display: none;
}
@media (width < 760px) { 
    .box1 {
        display: none;
    }
    .box2 {
           margin-top: 40px;
    }
    .navbar {
        display: block;
    }
    img {
        width: 10%;
    }
    input.form-control{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(235, 231, 231);
    outline: 1px solid rgb(235, 231, 231);
}
input.form-control:focus {
    border-radius: 10px;
    border: 1px solid rgb(235, 231, 231);
    outline: 1px solid rgb(235, 231, 231);
}
.header-text {
    text-align: left;
    font-weight: 500;
}
.box2 {
    padding: 15px;
}
}